#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 55px;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(228, 228, 228);
  z-index: 100;
}
/*Left side of the header*/
.left {
  display: flex;
  align-items: center;
  width: 150px;
  height: 100%;
  justify-content: space-around;
  flex-shrink: 0;
  margin-left: 15px;
}
.hamburger-menu {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.site-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90px;
  height: 20px;
  cursor: pointer;
}
/*Middle side of the header*/
.middle {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  max-width: 500px;
  margin: 0 50px;
}
.search-bar {
  width: 0;
  height: 36px;
  flex: 1;
  padding-left: 15px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 18px 0px 0px 18px;
}
.search-bar:focus {
  outline: 1px solid #3ea6ff;
  border: none;
}
.search-bar::placeholder {
  font-size: 16px;
}
.search-button {
  position: relative;
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  width: 66px;
  height: 36px;
  border: 1px solid rgb(202, 202, 202);
  margin-left: -1px;
  cursor: pointer;
  border-radius: 0px 18px 18px 0px;
  transition: border-radius 0.15s ease-in-out;
}
.search-button:hover {
  background-color: rgb(233, 233, 233);
}
.voice-search-button {
  position: relative;
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
/*Right side of the header*/
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  margin-right: 25px;
  flex-shrink: 0;
}
.create-container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .search-bar {
    display: none;
  }
  .middle {
    margin: 0 5px;
    transition: margin 0.25s ease-in-out;
  }
  .search-button {
    border-radius: 18px;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  .create-container {
    margin-right: 10px;
  }
  .notifications-icon {
    margin-right: 15px;
  }
}
.create-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  column-gap: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 16px;
  cursor: pointer;
}
.create-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  all: unset;
  border-radius: 2px;
}
.notifications-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.notifications-count {
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: rgb(201, 0, 0);
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 10px;
}
.current-user-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 4px;
  cursor: pointer;
}
.tooltips {
  position: absolute;
  background-color: rgba(75, 75, 75, 0.7);
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 12px;
  bottom: -28px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}
.search-button:hover .tooltips,
.voice-search-button:hover .tooltips,
.create-container:hover .tooltips,
.notifications-icon:hover .tooltips {
  opacity: 1;
}
